body {

}

h1 {

}

h2 {

}

p {

}

ul {

}

/*li group start*/
li {

}

li a {

}

li a:hover {

}
/* li group end */

/* a group start */
a {

}

a:link {

}

a:active {

}

a:visited {

}

a:hover {

}
/* a group end */

img {

}

#wrapper {

}

#header {

}

#logo {

}

#nav {

}

/* #nav a group start */
#nav a {

}

#nav a:link {

}

#nav a:active {

}

#nav a:visited {

}

#nav a:hover {

}
/* #nav a group end */

#content {

}

#footer {

}

.active {
	
}

.UPDATE_FOR_USE img {

}
